node_modules/
.env
Frontend/.vite
flutter_application_1/linux/flutter/generated_plugin_registrant.cc
flutter_application_1/linux/flutter/generated_plugin_registrant.h
flutter_application_1/linux/flutter/generated_plugins.cmake
flutter_application_1/macos/Flutter/GeneratedPluginRegistrant.swift
flutter_application_1/windows/flutter/generated_plugin_registrant.cc
flutter_application_1/windows/flutter/generated_plugin_registrant.h
flutter_application_1/windows/flutter/generated_plugins.cmake
*.cmake
*.lock
*.cc
